body {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	/* background-image: url(unnamed.jpg); 
	background-size: cover; */
	/* } */

	/* ini gradient efek */
	/* .animated-background { */
	background: linear-gradient(to right, #833ab4,
			#fd1d1d, #fcb045);
	background-size: 400% 400%;
	animation: animate-background 10s infinite ease-in-out;
	width: 100%;
	height: 800px;
}

@keyframes animate-background {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

/* batas efek */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h2 {
	text-align: center;
}

.box {
	position: relative;
	width: 300px;
	height: 420px;
	/*background-color: #090221;*/
	background-color: rgb(103, 51, 119);
	transition: 0.3s;
	overflow: hidden;
	border-radius: 3%;
}

.box:hover {
	transform: translateY(-15px);
}

.box::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 560px;
	height: 50px;
	transform: rotate(-40deg) translateY(-100px);
	background: linear-gradient(to right, #f86b47, #e41102);
}

.box:hover::after {
	animation: border-effect 1.2s ease;
}

@keyframes border-effect {
	0% {
		transform: rotate(-40deg) translateY(-100px);
	}

	100% {
		transform: rotate(-40deg) translateY(530px);
	}
}

.text-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #090221;
	/*background: rgba(255, 255, 255, 0.5);*/
	width: 295px;
	height: 415px;
	z-index: 10;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 3px;
	border-radius: 3%;
}

.text-content a {
	text-decoration: none;
	display: block;
	width: 140px;
	height: 43px;
	text-align: center;
	color: #fff;
	line-height: 43px;
	border: 2px solid #fff;
}

.box-two::after {
	width: 560px;
	height: 50px;
	background: linear-gradient(to right, #dce35b, #45b649);
}

.box-three::after {
	width: 560px;
	height: 50px;
	background: linear-gradient(to right, #abcdef, #767665);
}

.conten {
	display: flex;
	justify-content: space-evenly;
	width: 70%;
	height: 65%;
	padding: 2em;
	background: rgba(36, 36, 36, 0.666);
	box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
	border-radius: 20px;
	border: 2px solid rgba(255, 255, 255, 0.25);
}

.fc {
	position: absolute;
	bottom: -30px;
	right: 30px;
	display: flex;
	justify-content: space-between;
	/* width: 150px; */
	padding: 10px 20px;
}

.fc li {
	list-style: none;
	/* padding: 10px; */
	/* height: 52px; */
	margin: 0 10px;
	/* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); */
	border-radius: 50%;
	backdrop-filter: blur(5px);
	/* border: 1px solid rgba(255, 255, 255, 0.25);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5); */
}


/* EFEK ICON */
.icon {
	color: #fff;
	animation: first_color .50s ease-in-out infinite alternate;
}

.icon:nth-child(2) {
	animation-name: second_color;
}

.icon:nth-child(3) {
	animation-name: third_color;
}

@keyframes first_color {
	0% {
		text-shadow: 0 0 10px #ff1177,
			0 0 20px #d6249f, 0 0 30px #285AEB
	}

	100% {
		text-shadow: 0 0 5px #ff1177,
			0 0 10px #d6249f, 0 0 15px #285AEB
	}
}

@keyframes second_color {
	0% {
		text-shadow: 0 0 10px #1877f2,
			0 0 20px #1459b3, 0 0 30px #179bff
	}

	100% {
		text-shadow: 0 0 5px #1877f2,
			0 0 10px #1459b3, 0 0 15px #179bff
	}
}

@keyframes third_color {
	0% {
		text-shadow: 0 0 10px #25d366,
			0 0 20px #48ee85, 0 0 30px #0ec0a5
	}

	100% {
		text-shadow: 0 0 5px #25d366,
			0 0 10px #48ee85, 0 0 15px #0ec0a5
	}
}